@import "../theme";

.home {
  display: flex;
  width: 100%;
  &-content {
    flex: 1;
    padding: 0 20px;
    &_title {
      margin-bottom: 20px;
    }
  }
  &-tags {
    width: 240px;
    &_title {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &_list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
  }
}

.post {
  border-radius: 15px;
  background-color: $secondary;
  overflow: hidden;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 10px;
  }
  &-body {
    padding: 20px;
  }
  &-excerpt,
  &-title {
    margin-bottom: 8px;
  }
  &-tags {
    display: flex;
  }
  &-title {
    display: inline-block;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    transition: text-indent 250ms ease-in;
    &:hover {
      text-decoration: underline;
      text-indent: 5px;
    }
  }
  &-date {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    span {
      margin-right: 7.5px;
    }
  }
}
