@import "../theme";

.home {
  display: flex;
  width: 100%;
  &-content {
    flex: 1;
    padding: 0 20px;
    &_title {
      margin-bottom: 20px;
    }
  }
  &-tags {
    display: none;
    width: 180px;
    &_title {
      display: flex;
      flex-direction: row-reverse;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      >svg{
        margin-left: 10px
      }
    }
    
    &_list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-end;
      list-style: none;
    }

    @media (min-width: $laptop){
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 20px;
    }
  
    @media (min-width: $pc){
      width: 240px;
      align-items: flex-start;
      &_title {
        flex-direction: row;
        >svg{
          margin-right: 10px;
        }
      }

      &_list {        
        align-items: flex-start;
        flex-direction: row;
      }
    }
  }  
}


.post {
  border-radius: 15px;
  background-color: $secondary;
  overflow: hidden;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 10px;
  }
  &-body {
    padding: 20px;
  }
  &-excerpt,
  &-title {
    margin-bottom: 8px;
  }
  &-tags {
    display: flex;
  }
  &-title {
    display: inline-block;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    transition: text-indent 250ms ease-in;
    &:hover {
      text-decoration: underline;
      text-indent: 5px;
    }
  }
  &-date {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    >text {
      margin-left: 10px;
    }
  }
}
