.header {
  display: flex;
  width: 100%;
  max-width: $pc;
  padding: 20px 0;
  color: $accent;
  &-brand {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-size: 2.5em;
  }
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    > svg {
      transition: 500ms;
    }
    &:hover {
      > svg {
        fill: $accent;
      }
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.sidebar-content{
  flex-direction: column;
  align-items: flex-start;

  &-button{
    display: flex;
    background-color: transparent;
    color: $white;
    border: none;
    font-size: 1.2em;
    margin-bottom: 15px;
    >span{
      margin-right: 10px;
    }
    &:hover {
      border-bottom: 2px solid $accent;
      width: 160px;
    }
  }
}

