// colors
$primary: #000814;
$secondary: #001d3d;
$primary-light: #003566;
$accent: #ffc300;
$accent-light: #ffd60a;
$white: #ffffff;
//media-querys
$mobile: 480px;
$tablet: 760px;
$laptop: 1040px;
$pc: 1200px;
